<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Agendamento CQMED</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📅</text></svg>">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <div class="card">
        <img src="/static/images/cqmed_logo.png" 
            alt="CQMED" 
            style="max-width: 180px; margin-bottom: 20px; display: inline-block;">
        <h1 style="color: var(--cqmed-teal-main);">Agendamento de Equipamentos</h1>
        <div class="btn-container">
            <a href="/login-interno" class="btn btn-interno">Acesso Usuário CQMED</a>
            <a href="/login-externo" class="btn btn-externo">Acesso Colaborador Externo</a>
        </div>
        <p>Centro de Química Medicinal - UNICAMP</p>
    </div>
    <!-- <div class="login-footer">
        <p>Precisa de ajuda ou está sem acesso? <a href="mailto:nieledm@gmail.com">Fale com o Suporte</a></p>
        <p>Desenvolvido por <strong>Niele Mendes</strong></p>
    </div> -->
    <div class="login-footer">
        <p style="margin-top: 15px;">Desenvolvido por <strong>Niele Mendes</strong></p>
        <p>e-mail: <strong style="user-select: all;">nieledm@gmail.com</strong> 
           <!-- <button onclick="copiarEmail()" class="btn-copiar" title="Copiar e-mail">📋 Copiar</button> -->
        </p>

    </div>

    <!-- <script>
        function copiarEmail() {
            const email = "nieledm@gmail.com";
            navigator.clipboard.writeText(email).then(() => {
                alert("E-mail copiado! Agora é só colar no seu Gmail ou serviço de e-mail favorito.");
            }).catch(err => {
                console.error('Erro ao copiar: ', err);
            });
        }
    </script> -->
</body>
</html>