<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Agendamento CQMED</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📅</text></svg>">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <div class="card">
        <img src="/static/images/cqmed_logo.png" 
            alt="CQMED" 
            style="max-width: 180px; margin-bottom: 20px; display: inline-block;">
        <h1 style="color: var(--cqmed-teal-main);">Agendamento de Equipamentos</h1>
        <div class="btn-container">
            <a href="/login-interno" class="btn btn-interno">Acesso Usuário CQMED</a>
            <a href="/login-externo" class="btn btn-externo">Acesso Colaborador Externo</a>
        </div>
        <p>Centro de Química Medicinal - UNICAMP</p>
    </div>
</body>
</html>